body
{
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial,Helvetica,sans-serif;
    background: #EFEFEF;
}

#page
{
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
    border: 1px solid #C9E0ED;
}

#header
{
    margin: 0;
    padding: 0;
    border-top: 3px solid gray;
}

#content
{
    padding: 20px;
}

#sidebar
{
    padding: 20px 20px 20px 0;
}

#footer
{
    padding: 10px;
    margin: 10px 20px;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}

#logo
{
    padding: 10px 20px;
    font-size: 200%;
}

#mainmenu
{
    background-color: gray;
}

#mainmenu ul
{
    padding:4px 20px 5px 20px;
    margin:0px;
}

#mainmenu ul li
{
    display: inline;
}

#mainmenu ul li a
{
    color:#ffffff;
    background-color:transparent;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
    color: #6399cd;
    background-color:#FFFFFF;
    text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
    padding:.8em;
    margin-bottom:1em;
    border:2px solid #ddd;
}

div.flash-error
{
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
}

div.flash-notice
{
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324;
}

div.flash-success
{
    background:#E6EFC2;
    color:#264409;
    border-color:#C6D880;
}

div.flash-error a
{
    color:#8a1f11;
}

div.flash-notice a
{
    color:#514721;
}

div.flash-success a
{
    color:#264409;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span
{
    font-weight: bold;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet
{

}

.portlet-decoration
{
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background:#EFFDFF;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}

.operations
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li
{
    padding-bottom: 2px;
}

.operations li a
{
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited
{
    color: #0066A4;
}

.operations li a:hover
{
    background: #80CFFF;
}

.view{
    width: 200px;
    display: inline-block;
    vertical-align: top;
    border:1px solid whitesmoke;
    position: relative;
    height: auto;
    min-height: 140px;
}
a.view{
    width: 39px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid whitesmoke;
    position: relative;
    height: auto;
    min-height: 10px;
}
.logoTitle{
    margin-top:10px;
}
@media print{
    .facturaPrint{

    }
}
.tablaTotal tr td{
    border:1px solid #e6e6e6;
    text-align: center;
}

.tdFactura{
    border-left: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
    border-collapse: collapse;
}
.grid-view table.items th{
    background: #555 !important;
}

/*Impresion de presupuestos*/
.presuPage{
    width: 100%;
    height: 995px;
    position: relative;
    display: block;
    background-color: #ffffff;
}
.presuLogo{
   display: block;
   position: relative;
   width: 299px;
   height: 99px;
   left: 0px;
   top: 0px;
}
.presuTitle{
    display: block;
    position: relative;
    width: 100%;
    height: 69px;
    right: 0px;
    margin-top: 250px;
    font-size: 52px;
    color: gray;
    text-align: right;
    font-weight: bold;
}
.presuSubTitle{
    display: block;
    position: relative;
    width: 659px;
    height: 69px;
    right: 0px;
    margin-top: 25  0px;
    font-size: 28px;
    color: gray;
    text-align: right
}
.presuClienteTitle{
    width: 100%;
    height: 35px;
    border-bottom: 3px solid black;
    display: block;
    position: relative;
    margin-top: 20px;
    font-size: 23px;
    color: gray;
}
.presuClienteName{
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    display: block;
}
.presuPresuTitle{
    width: 100%;
    height: 35px;
    border-bottom: 3px solid black;
    display: block;
    position: relative;
    margin-top: 20px;
    font-size: 23px;
    color: gray;
}
.presuPresuName{
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    display: block;
}
.presuLastPage{
    width: 100%;
    min-height: 595px;
    height: auto;
    position: relative;
    display: block;
    background-color: #ffffff;
    font-size: 12px;
}
.presuLastPage u{
    text-decoration: underline;
}
.presuFirma{
    width:150px;
    height: 35px;
    border-top: 2px solid black;
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: center; 
    margin-left: 70px;
    margin-top: 75px;
}